# System files
**/.DS_Store

# Python related files
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
scratch.py
hello.py

# Packaging and distribution
build/
dist/
app.spec
Resources/
**.build
Info.plist
